<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="manifest" href="/manifest.webmanifest">
	<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>

	<script>
	var firebaseConfig = {
        apiKey: '<AIzaSyCkAl12z0asdcpuiEqYXRbRyk5lo59AUdE>',
        authDomain: '<timestamp-d535c.firebaseapp.com>',
        databaseURL: '<https://timestamp-d535c.firebaseio.com/>',
        projectId: '<timestamp-d535c>',
        storageBucket: '<timestamp-d535c.appspot.com>',
        messagingSenderId: '<799941260904>',
		appId: "1:799941260904:web:cf98ef9e4ba4b6628d2ddd"
    };
		firebase.initializeApp(firebaseConfig);
	</script>
    <title>Document</title>
</head>
<body>

