<header class="header">
    <div class="header__logo">Time's App</div>
    <ul class="header__links">
        <li class=""><a href="/" class="header__link">Home</a></li>
        <li class=""><a href="/projects" class="header__link">Projects</a></li>
        <li class=""><a href="/timelist" class="header__link">Timelist</a></li>
    </ul>
</header>