<header class="header">
    <div class="header__logo">Time's App</div>
    <ul class="header__links">
        <li class="link">Home</li>
        <li class="link">Projects</li>
        <li class="link">Timelist</li>
    </ul>
</header>