<% include ../partials/head %>
<% include ../partials/header %>
    <main class="main">
        <!--
            Knap der opretter nyt projekt
            i projektet skal der være et ur, med en startknap og en stopknap.
            for at opfylde kriteriene for opgaven så post tiden til firebase.
            hent derefter hver enkelt tid og put dem i en liste.
            for hver tid der bliver registreret i et projekt tilføres en linie og i bunden ses det samlede tidsforbrug.
            Hvis der oprettes endnu et projekt sker det samme. 
            man kommer ind på hvert enkelt projekt via url params.
        -->
        <label id="minutes">00</label>:<label id="seconds">00</label>

        <script src="assets/javascript/ur.js"></script>

    </main>
<% include ../partials/afterfooter %>