<% include ../partials/head %>
<% include ../partials/header %>
    <main class="main">

        <section class="main__button-wrapper">
            <button class="main__button main__button_start">Start</button>
        </section>

        <section class="main__ur-wrapper">
            <label class="main__ur" id="minutes">00</label><span class="main__ur">:</span><label class="main__ur" id="seconds">00</label>
        </section>
        <section class="main__stamp">
            
        </section>
        <button class="download-app hidden">download app</button>
        <script src="assets/javascript/ur.js"></script>

    </main>
    <script src="https://www.gstatic.com/firebasejs/${JSCORE_VERSION}/firebase.js"></script>
    <script src="/assets/javaScript/index.js"></script>
    <script src="/assets/javaScript/app.js"></script>

<% include ../partials/afterfooter %>