.header{
    border-bottom: 1px solid darkblue;
    padding: 0 0 1em 0;
    &__logo{
        text-align: center;
        font-size: 3em;
        margin: 0.5em 0 0.2em 0;
        color: darkblue;
    }
    &__link{
        text-decoration: none;
        color: darkblue;
    }
    
    &__links{
        width: 90%;
        margin: auto;
        padding-inline-start: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        color: darkblue;
    }
}

.main{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__button-wrapper{
        margin: 2em 0;
        display: flex;
        justify-content: center;
    }
    
    &__button{
        width: 20vmin;
        height: 20vmin;
        border-radius: 50%;
        border: 3px solid darkblue;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        &_start{
            background-color: lightgreen;
        }

        &_stop{
            background-color: red;
        }
    }
    &__ur-wrapper{
        display: flex;
        justify-content: center;
        margin: 2em 0;
    }

    &__ur{
        font-size: 3em;
        font-weight: bold;
        color: darkblue;
    }
}

.download-app{
    margin: auto;
    background-color: white;
    border-radius: 15px;
    font-size: 1.2rem;
    font-style: bold;
    color: darkblue;
    border: 3px solid darkblue;
}
.hidden{
    display: none;
}

.timelist{
    &__line{
        display: flex;
        justify-content: space-between;
        margin: 0 0.5rem;
    }

    &__tid, &__dato, &__hours, &__minutes, &__seconds, &__kolon{
        margin-block-start: 5px;
        margin-block-end: 5px;
    }

    &__regtid{
        display: flex;
    }

    &__total{
        display: flex;
        justify-content: space-between;
        margin: 0 0.5rem;
    }
}

